# Read the documentation: https://symfony.com/doc/master/bundles/FOSRestBundle/index.html
fos_rest:
  format_listener:
    rules:
      - { path: '^/api', priorities: [ 'json' ], fallback_format: json, prefer_extension: true }
      - { path: '^/', priorities: [ 'html', '*/*'], fallback_format: ~, prefer_extension: true }
  #    param_fetcher_listener:  true
  allowed_methods_listener:  true
  #    routing_loader: true
  view:
    formats: { json: true, xml: false, rss: false }
    view_response_listener:  true
  #    exception:
  #        codes:
  #            App\Exception\MyException: 403
  #        messages:
  #            App\Exception\MyException: Forbidden area.

  body_converter:
    enabled: true
  serializer:
    serialize_null: true