{% extends 'base.html.twig' %}

{% block title 'Ajouter un livre' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('newBook') }}
{% endblock %}

{% block actionsBtn %}
    <a href="{{ path('home') }}" title="Accueil"><i class="fas fa-home fa-2x text-dark"></i></a>
{% endblock %}

{% block body %}
    <div class="container-fluid mt-5 pt-5">
        <h1 class="text-center">Ajouter un livre</h1>
        <div class="row">
            {{ include('book/_form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('newBook') }}
{% endblock %}