.modal-box {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.mb-wrapper {
    display: flex;
    overflow: auto;
    width: calc(100vw - 20%);
    height: calc(90vh - 15%);
    max-width: calc(100vw - 100px);
    max-height: calc(100vh - 180px);
    background-color: #fff;
}

.mb-error-message {
    text-align: center;
}

.mb-content,
.mb-error {
    margin: auto;
}

.mb-action-bar {
    display: flex;
    justify-content: center;
}

.mb-action-btn {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0 20px;
}

.mb-loader {
    margin: auto;
    display: flex;
    height: 100%;
}

.loader {
    margin: auto;
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
    border-radius: 100px;
    border: 5px solid transparent;
    border-top-color: #222;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.loader:before, .loader:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    bottom: 8px;
    right: 8px;
    border-radius: 100px;
    border: 5px solid transparent;
    border-top-color: #555;
    -webkit-animation: spin 20s linear infinite;
    -moz-animation: spin 20s linear infinite;
    animation: spin 20s linear infinite;
}

.loader:before {
    top: 22px;
    left: 22px;
    bottom: 22px;
    right: 22px;
    border-top-color: #777;
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}