.modal-box {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    animation: fadeIn .3s both;
}

.modal-box[aria-hidden="true"] {
    animation-name: fadeOut;
}

.mb-wrapper {
    display: flex;
    overflow: auto;
    width: calc(100vw - 20%);
    height: calc(90vh - 15%);
    max-width: calc(100vw - 100px);
    max-height: calc(100vh - 180px);
    background-color: #fff;
    animation: slideFromTop .3s both;
}

.modal-box[aria-hidden="true"] .mb-wrapper {
    animation-name: slideToBottom;
}

.mb-error-message {
    text-align: center;
}

.mb-content,
.mb-error {
    margin: auto;
}

.mb-action-bar {
    display: flex;
    justify-content: center;
}

.mb-action-btn {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0 20px;
}

.mb-loader {
    margin: auto;
    display: flex;
    height: 100%;
}

.loader {
    margin: auto;
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
    border-radius: 100px;
    border: 5px solid transparent;
    border-top-color: #222;
    animation: spin 1s linear infinite;
}

.loader:before, .loader:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    bottom: 8px;
    right: 8px;
    border-radius: 100px;
    border: 5px solid transparent;
    border-top-color: #555;
    animation: spin 20s linear infinite;
}

.loader:before {
    top: 22px;
    left: 22px;
    bottom: 22px;
    right: 22px;
    border-top-color: #777;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slideFromTop {
    from {
        transform: translateY(-100vh);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes slideToBottom {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(100vh);
    }
}