<aside class="modal-box text-dark" style="display: none" aria-hidden="true" role="dialog" aria-labelledby="titleModal">
    <div class="mb-wrapper">
        <div class="mb-loader">
            <span class="loader"></span>
        </div>
        <div class="mb-error"></div>
        <div class="mb-content container-fluid" style="display: none">
            <button type="button" class="btn btn-dark mb-close mb-action-btn float-right">
                <i class="fas fa-times"></i></button>
            <div class="row">
                <div class="col-4 d-none d-lg-block">
                    <div class="row">
                        <div class="col-10 offset-1">
                            <img src="{{ asset('img/book_cover_placeholder.png') }}" alt="" class="card-img-top">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="bookTitle" id="titleModal"></h2>
                            <p>ISBN : <span class="bookIsbn"></span></p>
                        </div>
                    </div>
                    <div class="row mt-2 mb-3">
                        <div class="col-12 mb-action-bar">
                            <button type="button" class="btn btn-success mb-action-btn" id="book-delete">
                                <i class="fas fa-share"></i></button>
                            <button type="button" class="btn btn-primary mb-action-btn" id="book-edit">
                                <i class="fas fa-pen"></i></button>
                            <button type="button" class="btn btn-danger mb-action-btn" id="book-delete">
                                <i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                    <div class="row d-lg-none">
                        <div class="col-10 offset-1 col-sm-6 offset-sm-3 col-md-8 offset-md-2">
                            <img src="{{ asset('img/book_cover_placeholder.png') }}" alt="" class="card-img-top">
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-6 col-lg-4">
                            <p>Auteur :</p>
                            <p class="bookAuthor"></p>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <p>Éditeur :</p>
                            <p class="bookPublisher"></p>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <p>Année de parution :</p>
                            <p class="bookPublicationDate"></p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-6 col-lg-4">
                            <p>Genre :</p>
                            <p class="bookGenre">genre</p>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <p>Collection :</p>
                            <p class="bookCollection">collection</p>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <p>Tome :</p>
                            <p class="bookVolume"></p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-6 col-lg-4">
                            <p>Format :</p>
                            <p class="bookFormat">format</p>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <p>Dématérialisé :</p>
                            <p class="bookIsDematerialized"></p>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <p>Lu :</p>
                            <p class="bookHasBeenRead"></p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <p>Résumé :</p>
                            <p class="bookSummary"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>Observations :</p>
                            <p class="bookObservations"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>